{{ define "main" }} {{ partial "hero" . }}

<section id="global-contacts" class="bg-gray-100 p-12">
  {{ partial "elements/section-header" "Global Contacts"}}

  <div class="flex mt-8 flex-wrap w-full max-w-6xl mx-auto">
    {{ $teamBundle := .Site.GetPage "/team" }} {{ $pages :=
    $teamBundle.Resources.ByType "page"}} {{ $sortedPages := sort $pages
    "Params.weight" }} {{ $globalContacts := where $sortedPages
    "Params.contact_type" "==" "global"}} {{ range $globalContacts }} <br />
    {{ partial "elements/team-member" .Params }} {{ end }}
  </div>
</section>

<section id="local-contacts" class="bg-gray-200 p-12">
  {{ partial "elements/section-header" "Local Contacts"}}

  <div class="flex mt-8 flex-wrap w-full max-w-6xl mx-auto">
    {{ $teamBundle := .Site.GetPage "/team" }} {{ $pages :=
    $teamBundle.Resources.ByType "page"}} {{ $sortedPages := sort $pages
    "Params.weight" "Params.name" }} {{ $localContacts := where $sortedPages
    "Params.contact_type" "==" "local"}} {{ range $localContacts }} <br />
    {{ partial "elements/team-member" .Params }} {{ end }}
  </div>
</section>

<section id="contact-form-section" class="py-8 max-w-3xl mx-auto flex flex-col">
  {{ partial "elements/section-header" "Contact form"}}
  <div
    class="bg-gray-100 p-4 lg:p-8 lg:my-8 mb-4 mt-8 flex"
    style="z-index: 10"
  >
    <form
      id="contact-form"
      class="w-full"
      method="POST"
      netlify-honeypot="fool"
      data-netlify="true"
    >
      <p class="hidden">
        <label
          >Don’t fill this out if you’re human: <input name="fool"
        /></label>
      </p>
      <div class="w-full mb-4">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold"
          for="full-name"
        >
          Full Name
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="full-name"
          name="full-name"
          type="text"
          placeholder="Enter your name here..."
          required
        />
      </div>
      <div class="w-full mb-4">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold"
          for="email"
        >
          E-mail
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="email"
          name="email"
          type="email"
          placeholder="Enter your email here..."
          required
        />
      </div>
      <div class="w-full mb-4">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold"
          for="message"
        >
          Message
        </label>
        <textarea
          class="no-resize appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none"
          id="message"
          name="message"
          placeholder="Enter your message here..."
          required
        ></textarea>
      </div>
      <div class="w-full mb-4">
        <label class="flex justify-start items-start">
          <div
            class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500"
          >
            <input
              required="true"
              type="checkbox"
              name="accepted-privacy"
              class="opacity-0 absolute"
            />
            <svg
              class="fill-current hidden w-4 h-4 text-mtcblue pointer-events-none"
              viewBox="0 0 20 20"
            >
              <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
            </svg>
          </div>
          <div class="select-none">
            I hereby confirm that I have read and agree with the
            <a href="/privacy-policy">MTC PS privacy policy</a>.
          </div>
        </label>

        <style>
          input:checked + svg {
            display: block;
          }
        </style>
      </div>
      <div class="w-full">
        <button
          class="shadow bg-mtcblue hover:bg-blue-900 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4"
          type="submit"
        >
          Send message
        </button>
      </div>
    </form>
  </div>
  <div class="bg-gray-100">
    {{ $image := resources.Get "images/map.svg" }}
    <div
      class="bg-mtcblue text-white p-6 flex items-center justify-between"
      style="background-image: url({{ $image.RelPermalink }}); height: 200px; background-position: center; "
    >
      <span>Returgatan 1, 735 31 Surahammar, Sverige</span>
      <a
        target="_blank"
        href="https://goo.gl/maps/287A3854TueouqMg8"
        class="bg-white p-2 font-bold text-mtcblue"
        >Show on Google Maps</a
      >
    </div>
  </div>
</section>

{{ end }}
