<input class="carousel-open" type="radio" id="carousel-{{- .id -}}" name="carousel" aria-hidden="true" hidden="" {{ if eq (int .id) 1 }} checked {{end}}>
<div class="carousel-item i-{{ .id }} absolute opacity-0 h-full">
    <div class="flex h-full w-full text-white text-center bg-cover bg-center" style="background-image: url({{ if .bg }}{{ .bg }}{{ end }});">
        <div class="bg-opacity-50 bg-mtcblue flex flex-1 px-8" style="background-color: rgba(14, 49, 120, 0.75);">
            <div class="max-w-6xl my-0 mx-auto self-center">
                <!-- Slide Content -->
                <h2 class="text-white p-0 text-2xl md:text-4xl lg:text-5xl uppercase font-bold text-shadow">{{ .text }}</h2>
                <div class="pt-4">
                    {{ partial "elements/button-link" (dict "text" .primaryButton.text "url" .primaryButton.url "class" "mb-2 md:mr-2" "primary" true)}}
                    {{ partial "elements/button-link" (dict "text" .secondaryButton.text "url" .secondaryButton.url)}}
                </div>
                <!-- /Slide Content -->
            </div>
        </div>
    </div>
</div>